  <jqxListBox style="float: left" (onCheckChange)="myListBoxOnCheckChange($event)"
  [width]="200" [height]="200" [source]="listBoxSource" [checkboxes]="true">
</jqxListBox>
<jqxGrid #myGrid (onColumnreordered)="myGridOnColumnReordered($event)"
    [width]="getWidth()" [source]="source" [columns]="columns"
    [columnsresize]="true" [columnsreorder]="true"(onSort)="myGridOnSort($event)"
    [sortable]="true" [altrows]="true" [filterable]="true"
    [selectionmode]="'multiplecellsadvanced'">
   </jqxGrid>

